<section id="home">
	<h1>Battlecruiser</h1>
	<div id="instructionbox">
		<button ng-click="createBoards()" ng-if="positionsArray.length<10">Click to start new game</button>
		<div id="instructions1" ng-if="positionsArray.length<10">
			<p>Please choose {{10 - (positionsArray.length)}} positions on the board.</p><p>Click again on a selected square to change your mind.</p>
		</div>
		<div>
			<button id="button" ng-click="submitPositions()" ng-if="positionsArray.length===10 && game.status==='setup'">Click to submit your choices!</button>
		</div>
		<div id="instructions2" ng-show="game.currentPlayer==='person'">
			<p>Click on one of your opponent's positions to strike!</p>
		</div>
		<div id="instructions3" ng-show="waiting1">
			<p>Attacking target...</p>
		</div>
		<div id="instructions4" ng-show="waiting2">
			<p>Bracing for response attack...</p>
		</div>
		<div id="instructions5" ng-if="winner">
			<p>You win!</p>
		</div>
		<div id="instructions6" ng-if="loser">
			<p>You lose.</p>
		</div>
	</div>
	<gameboard></gameboard>
</section>