	#board {
		overflow: hidden;
		width: 100%;
	}

	table {
		width: 45%;
	}

	#player {
		width: 45%;
		float: left;
	}

	#cpu {
		width: 45%;
		float: right;
	}

	.deploytext{
		background: #a8a8a8;
		background-size: cover;
		opacity: 0;
	}

	.undeploytext{
		background: #545454;
		background-size: cover;
		opacity: 0;
	}

	.attacktext{
		background: #a8a8a8;
		background-size: cover;
		opacity: 0;
	}

	td:hover .deploytext{
		cursor: pointer;
		opacity: 0.6;
		text-align: center;
		color: #000000;
	}


	td:hover .undeploytext{
		cursor: pointer;
		opacity: 0.6;
		text-align: center;
		color: #FFFFFF;
	}

	td:hover .attacktext{
		cursor: pointer;
		opacity: 0.6;
		text-align: center;
		color: #CD0000;
	}

	td {
		border: 1px solid black;
		width: 7%;
  		position: relative;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	td:after{
	    content: '';
	    display: block;
	    margin-top: 100%;
	}

	td .content {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	}

	.placed {
		background-image: url('ship.jpg');
	}

	.hit {
		background-image: url('burning.jpg');
	}

	.miss{
		background-image: url('splash.jpg');
	}