<div id="board">
	<table id="player">
        <tr ng-repeat="rows in game.playerArr">
            <td ng-repeat="cell in rows track by $index" ng-click="selectPosition($parent.$index, $index)" ng-class="{hit:cell === HIT, miss:cell === MISS, placed:cell === SHIP || positionSelected()}">
            	<div class="content">
            		<div class="content deploytext" ng-show="positionsArray.length < 10 && !positionSelected()">Deploy here!
            		</div>
            		<div class="content undeploytext" ng-show="game.status === 'setup' && positionSelected()">Undo!
            		</div>
            	</div>
            </td>
        </tr>
	</table>
	<table id="cpu">
        <tr ng-repeat="rows in game.cpuArr">
            <td ng-repeat="cell in rows track by $index" ng-click="attackCPU(cell, $parent.$index, $index)" ng-class="{hit:cell === HIT, miss:cell === MISS}">
            	<div class="content">
            		<div class="content attacktext" ng-show="game.status === 'playing' && game.currentPlayer==='person' && (cell === EMPTY || cell === SHIP)">Attack!
            		</div>
            	</div>
            </td>
        </tr>
	</table>
</div>

